## Environment normalization:
/.bundle
/vendor/bundle

## Database secrets
config/cloudinary.yml
config/private_pub.yml
config/initializers/secret_token.rb
config/database.yml
##config/secrets.yml

/tmp
/log/*.log
public/assets/*
public/uploads/*
.env
*.rbc
