<% if @feed_items.any? %>

<div id="ordered-ideas">
	<%= render @feed_items %>
</div>

<div id="infinite-scrolling">
	<%= will_paginate @feed_items %>
</div>
<button class="load-more btn">
Load more
</button>
<% end %>