<div class="row" style="border: 1px solid #4078C5;color:#4078C5;
    border-radius: 5px;padding-top: 10px;padding-bottom: 10px;
    margin-bottom:10px;margin-top:10px;">
	<div class="col s1">
		<i class="material-icons">settings_input_antenna</i>
	</div>
	<div class="col s8 offset-s1">
	<%= link_to update.title , update%>
	</div>
	<div class="col s1">
	x
	</div>
</div>

