/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require jquery-ui
 *= require materialize
 *= require material-icons
 *= require_tree .
 *= require_self
 */
 
 body{
 	background-color: #F2F2F2;
 }
 .card{
 	padding: 10px 0px 0px 0px;
 }
 select{
 	display: block;
 }

/*****profile*********/
.profile_cover {
	background-image:url('back.jpg');
	background-size:cover;
	background-position:center center;
	height:350px;
    width:100%;
	border:none;
	box-sizing: border-box;
	padding:0;
	box-shadow:1px 1px 3px rgba(0,0,0,0.3);
	overflow:hidden;
}
.profile_info {
    width: Calc(100% - 5px);	
	background:#ffffff;
	border:none;
	box-shadow:1px 1px 3px rgba(0,0,0,0.1);
	border-radius:3px;
	margin:16px auto 10px auto;
	box-sizing: border-box;
	padding:10px 10px;
    line-height:23px;
    position:relative;
}
.profile_menu_container {
    width:100%;
    padding:7px 0;
    text-align:center;
}
.profile_info_text {
    width:100%;
    padding:7px 0;
    text-align:center;
}
.profile_info left {
    text-align:left;
}
.profile_info .profile_pic {
	height:120px;
	width: 120px;
	margin:-60px 10px 0 0;
	padding:0;
	border-radius:3px;
	border:2px solid #ffffff;
	box-shadow:1px 1px 3px rgba(0,0,0,0.2);
    float:left;
}
.profile_info h2 {
	margin: 0;
	display:inline-block;
	font-size:17px;
	font-weight:600;
	color:#38424C;
}
.profile_info h3 {
	margin: 0;
	display:inline-block;
	font-size:15px;
	font-weight:500;
	color:darkgrey;
}
.profile_info a {
	display:inline-block;
	font-size:15px;
	font-weight:500;
	color:dodgerblue;
    text-decoration:none;
}
.profile_info .profile_menu  {
	margin:0 0 0 10px;
	padding:0 11px 0 39px;
	height:36px;
	width:auto;
	color:#8899A6;
	font-family:segoe ui;
	font-size:15px;
	font-weight:500;
	background-color:#ffffff;
	background-image:url('header/history-clock-button.png');
	background-size:20px 20px;
	background-repeat:no-repeat;
	background-position:11px 8px;
	border:1px solid #dadada;
    border-radius:3px;
}
.profile_info .profile_sub_menu button {
	margin:10px 10px -10px 0;
	padding:0 14px 0 44px;
	height:48px;
	width:auto;
	color:#8899A6;
	font-family:segoe ui;
	font-size:16px;
	font-weight:600;
	background-color:#ffffff;
	background-image:url('header/history-clock-button.png');
	background-size:20px 20px;
	background-repeat:no-repeat;
	background-position:14px 14px;
	border-bottom:4px solid #ffffff;
	border-left:none;
	border-top:none;
	border-right:none;
	border-radius:0px;
    float:none; 
}
.profile_info .profile_sub_menu button:hover{
	border-bottom:4px solid #2A80BA;
	color:#2A80BA;
}
.profile_info .profile_sub_menu .active {
	border-bottom:4px solid #2A80BA;
	color:#2A80BA;
}
@media screen and (max-width:964px){
	.profile_info .profile_sub_menu button {
		width:48px;
		padding:0;
		background-image:url('header/history-clock-button.png');
		background-size:20px 20px;
		background-repeat:no-repeat;
		background-position:14px 14px;
		font-size:0;
	}
    .profile_info .profile_menu  {
        float:none; 
        margin:10px 5px 0 5px;
    }
    .profile_info .profile_pic {
        float:none; 
        margin:-60px 0 10px 0;
        
    }
    .profile_info {
    	text-align: center;
        width: 460px;
    }
    .profile_info center {
        text-align:center;
    }
}
@media screen and (min-width:964px){
    .profile_menu_container {
        width:auto;
        height:auto;
        position:absolute;
        right:10px;
        top:10px;
        padding:0;
    }
    .profile_info_text {
        width:auto;
        height:auto;
        padding:0;
        text-align:left;
        padding:0 230px 0 136px;
    }
}
@media screen and (max-width:570px){
    .profile_info {
        width: calc(100% - 30px);
    }
}
	
.profile_info .profile_sub_menu .friends {
    background-image:url('header/create-group-button.png');
}
.profile_info .profile_sub_menu .following {
    background-image:url('header/tick-inside-circle.png');
}
.profile_info .profile_sub_menu .about {
    background-image:url('header/ellipsis.png');
}
.profile_info .profile_sub_menu .posts {
    background-image:url('header/create-new-pencil-button.png');
}
.profile_info .profile_sub_menu .photos {
    background-image:url('header/photo-library.png');
}

/************
/******************************** chat panel *************************
*************/

 #chatbox{
 	height: 100vh;
 	overflow-y: auto;
 	position: fixed;
 	right: 0;
 	background:linear-gradient(to right, #CCCCCC , #E1E1E1  4px)
 }
 #chatbox .row a{
 	color: black
 }
 #chatbox .row:hover{
 	
 }
#chatbox .row:hover a{
	
}
.chatpanel {
	padding-top: 15px;
	box-sizing: border-box;
	overflow:hidden;
	z-index:9998;
	transition-duration: 0.2s;

}
.chat_user_details{
	min-height: 30px
}
.chat_user_details .col{
	
}
.chat_user_image{
	width: 100%;
}